{
  "presets": ["es2015-loose", "react"],
  "plugins": [
    "add-module-exports",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-transform", {
          "transforms": [{
            "transform": "react-transform-hmr",
            "imports": ["react"],
            "locals": ["module"]
          }]
        }]
      ]
    },
    "production": {
      "presets": ["es2015-loose", "react", "react-optimize"]
    }
  }
}
